.btn {
    outline: none;
    text-decoration: none;
    border-radius: 8px;
    color: #fff;
    background-color: #0d091d;
    margin: 10px;
    padding: 6px 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
  }
  .btn-nxt{
    outline: none;
    text-decoration: none;
    border-radius: 8px;
    color: #fff;
    background-color: #0d091d;
    margin: 10px;
    padding: 6px 10px;
    margin-left: 90px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;

  }
  .btn:hover{
    background-color: white;
    color:#5f41e2;
    border-color: teal;

  }
  .btn-nxt:hover{
    background-color: white;
    color:#5f41e2;
    border-color: teal;
    
  }
  .btn1{
    outline: none;
    text-decoration: none;
    border-radius: 8px;
    color: #fff;
    background-color: #17c734;
    margin: 13px;
    padding: 11px 20px;
    font-size: 16px;
    cursor: pointer;

  }

  .ma2{
    margin: 5px;
    font-size: medium;
  }
  
  input{
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
  }

  .feedback-input{
    height: 60px;
    width: 200px;
  }
  .feedback-card{
    width: 50%;
  }
 